<form class="flexcol">
	<style class="gradients"></style>
	<nav class="container"></nav>
	<nav class="flexrow arrows">
		<div class="lastRound fas fa-angle-double-left"></div>
		<div class="lastPhase fas fa-angle-left"></div>
		<div class="round"></div>
		<div class="nextPhase fas fa-angle-right"></div>
		<div class="nextRound fas fa-angle-double-right"></div>
	</nav>
</form>