<form class="flexcol">
    <style id="colorGradients"></style>
    <nav class="flexrow scsButtons"></nav>
    <nav class="flexrow scsArrows">
        <div id="lastRound" class="fas fa-angle-double-left"></div>
        <div id="lastPhase" class="fas fa-angle-left"></div>
        <div id="currentRound"></div>
        <div id="nextPhase" class="fas fa-angle-right"></div>
        <div id="nextRound" class="fas fa-angle-double-right"></div>
    </nav>
</form>