<form class="flexcol">
	<style class="colorGradients"></style>
	<nav class="flexrow scsButtons"></nav>
	<nav class="flexrow scsArrows">
		<div class="lastRound fas fa-angle-double-left"></div>
		<div class="lastPhase fas fa-angle-left"></div>
		<div class="currentRound"></div>
		<div class="nextPhase fas fa-angle-right"></div>
		<div class="nextRound fas fa-angle-double-right"></div>
	</nav>
</form>