<form class="flexcol">
    <nav class="flexrow buttons">
        <div class="phase-button one"></div>
        <div class="phase-button two"></div>
        <div class="phase-button three"></div>
    </nav>
    <nav class="flexrow arrows">
        <div id="lastRound" class="fas fa-angle-double-left"></div>
        <div id="lastPhase" class="fas fa-angle-left"></div>
        <div id="currentRound"></div>
        <div id="nextPhase" class="fas fa-angle-right"></div>
        <div id="nextRound" class="fas fa-angle-double-right"></div>
    </nav>
</form>