<form class="flexcol" id="draggable">
    <nav class="flexrow">
        <div class="phase-button mv checked">Move</div>
        <div class="phase-button atk">Attacks</div>
        <div class="phase-button spl">Spells</div>
    </nav>
    <nav class="flexrow arrows">
        <div id="lastRound" class="fas fa-angle-double-left"></div>
        <div id="lastPhase" class="fas fa-angle-left"></div>
        <div id="currentRound">Round 1</div>
        <div id="nextPhase" class="fas fa-angle-right"></div>
        <div id="nextRound" class="fas fa-angle-double-right"></div>
    </nav>
</form>