/* Style the phase "buttons" */
#scsApp .phase-button {
  display: block;
  margin: 3px 0;
  text-align: center;
  height: 40px;
  color: white;
  padding: 12px 5px;
  flex: 0 0 32%;
}

/* Add a shadow on the active phase */
#scsApp .active {
  box-shadow: inset 2px 2px 5px rgb(0, 0, 0);
  mix-blend-mode: soft-light;
}

/* Styling for the phase "buttons" */

/* Style the first one in the row so that the corners are rounded correctly and so there is a margin on the left */
#scsApp .phase-button:nth-child(3n + 1) {
  margin-left: 3px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Style the last one in the row so that the corners are rounded correctly and so there is a margin on the right */
#scsApp .phase-button:nth-last-child(1), #scsApp .phase-button:nth-child(3n + 3) {
  margin-right: 3px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* These are the small arrows which let you switch phase and round */
#scsApp .scsArrows {
  text-align: center;
  color: var(--Whetstone-text-highlight-lighter, var(--palette-app-background-contrast-text, #f0f0e0));
  align-items: center;
  min-height: 2.5em;
  max-height: 2.5em;
  position: static;
}

/* Give the navigation arrows some room */
#scsApp .scsArrows > * {
  min-width: 15%;
  cursor: pointer;
}

/* These are the various phase "buttons" */
#scsApp .scsButtons {
  flex-wrap: wrap;
  max-height: calc(46px * 3);
  overflow-y: auto;
  scroll-behavior: smooth;
}

/* Controls the app itself */
#scsApp {
  flex-wrap: nowrap;
  max-width: 200px;
  max-height: calc(46px * 3 + 3px + 2.5em);
}

/* Don't show any header */
#scsApp .window-header {
  display: none;
}

/* Give the whole app a look that blends into the Foundry UI alongside the player list */
#scsApp .window-content {
  border-radius: 5px;
  padding: 0;
  border: 1px solid #000;
  color: var(--Whetstone-text-highlight-lighter, var(--palette-app-background-contrast-text, #f0f0e0));
  background-color: var(--Whetstone-bg-app, var(--palette-app-background, none));
  background-image: var(--palette-app-background-image, url(/ui/denim075.png) repeat);
  background-blend-mode: var(--palette-app-background-image-blend-mode, normal);
  overflow: hidden;
}

/* The current round indicator */
#scsApp #currentRound {
  color: var(--Whetstone-accent-primary-contrast, var(--palette-app-background-shaded-text, grey));
  text-align: center;
  flex: 100; /* It must take as much room as possible */
  cursor: move;
}

/* Lighter text when dragged around */
#scsApp #currentRound:active {
  color: var(--Whetstone-text-accent-primary-half, var(--palette-app-background-contrast-text, lightgrey));
}

/* The animation shown when pinning the app */
@keyframes jiggle {
  0% {
    transform: rotate(1deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(-1deg);
    animation-timing-function: ease-out;
  }
}

/* Don't show form app for Generate Colors settings button */
#scsColor {
  display: none !important;
}

/* Custom styling for IntroJS tour */

/* Style checkbox */
#scsTutorialAgainDiv {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: -5px;
  padding: 0.5em 1em;
}

/* Move line above checkbox */
.introjs-tooltipbuttons {
  border: transparent;
  padding: 1em;
  padding-top: 0;
}

/* Font Awesome Icons */
.introjs-tooltipReferenceLayer .fa,
.far,
.fas {
  font-family: "Font Awesome 5 Free";
}
