/* Style the phase "buttons" */
.phase-button {
  display: block;
  margin: 3px 0;
  text-align: center;
  height: 40px;
  color: white;
  padding: 12px 0;
  overflow-wrap: anywhere;
  overflow: clip;
}

/* Add a shadow on the active phase */
.checked {
  box-shadow: inset 2px 2px 5px rgb(0, 0, 0);
  mix-blend-mode: soft-light;
}

/* Styling for the phase "buttons" */

/* Style the first one so that the corners are rounded correctly and so there is a margin on the left */
.phase-button:nth-child(1) {
  border-radius: 5px 0px 0px 5px;
  margin-left: 3px;
}

/* Color the phase "buttons" with beautiful gradients */
.phase-button:nth-child(1) {
  background-image: linear-gradient(#e45f17, #e49b17);
}
.phase-button:nth-child(2) {
  background-image: linear-gradient(#e5352d, #e52d9b);
}
.phase-button:nth-child(3) {
  background-image: linear-gradient(#326bb6, #32aab6);
}

/* Style the last one so that the corners are rounded correctly and so there is a margin on the right */
.phase-button:nth-last-child(1) {
  border-radius: 0px 5px 5px 0px;
  margin-right: 3px;
}

/* These are the small arrows which let you switch phase and round */
.scsArrows {
  text-align: center;
  color: white;
  align-items: center;
  cursor: pointer;
}

/* Give the navigation arrows some room */
.scsArrows > * {
  min-width: 15%;
}

/* These are the various phase "buttons" */
.scsButtons {
  flex-wrap: nowrap;
}

/* Controls the app itself */
#scs-app {
  /* Let the height be easily adjusted with JS*/
  --scsHeight: 75px;
  height: var(--scsHeight);
  flex-wrap: nowrap;
  background: none;
}

/* Don't show any header */
#scs-app .window-header {
  display: none;
}

/* Give the whole app a look that blends into the Foundry UI alongside the player list */
#scs-app .window-content {
  border-radius: 5px;
  padding: 0;
  border: 1px solid #000;
  color: #f0f0e0;
  background: url(/ui/denim075.png) repeat;
  overflow: hidden;
}

/* The current round indicator */
#currentRound {
  color: grey;
  text-align: center;
  flex: 100; /* It must take as much room as possible */
}

/* Lighter text when dragged around */
#currentRound:active {
  color: lightgrey;
}

/* The animation shown when pinning the app */
@keyframes jiggle {
  0% {
    transform: rotate(1deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }
}

/* Custom styling for IntroJS tour */

/* Fix IntroJS tooltip close button in incorrect position */
.introjs-tooltip-title {
  padding-right: 5%;
  font-family: "Modesto Condensed"!important;
  font-size: 28px;
}
.introjs-skipbutton {
  top: 1%;
  right: 1%;
  position: absolute;
}

/* Make it look more like Foundry's UI */
.introjs-tooltip {
  background: url(../../../ui/parchment.jpg) repeat;
  color: #191813;
  box-shadow: 0 0 20px #000;
}
.introjs-tooltipReferenceLayer * {
  font-family: "Signika";
}
/* For Foundry-like buttons. I need
a way to deal with :hover, :active,
:focus before this can look good
.introjs-button {
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #f0f0e0;
}*/
.introjs-disabled {
  display: none;
}

/* Recolor Bullets */
.introjs-bullets ul li a.active {
  background: #782e22;
}
.introjs-bullets ul li a {
  background: #00000070;
}

/* Fix padding */
.introjs-tooltip-header {
  padding: 1em;
  padding-bottom: 0;
}
.introjs-tooltiptext {
  padding: 1em;
}
.introjs-bullets {
  padding: 0;
}

/* Style checkbox */
#scsTutorialAgain {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: -5px;
  padding: 0.5em 1em;
}

/* Move line above checkbox */
.introjs-tooltipbuttons {
  border: transparent;
  padding: 1em;
  padding-top: 0;
}
