/* Style the phase "buttons" */
#scsApp .phase-button {
  display: block;
  margin: 3px 0;
  text-align: center;
  height: 40px;
  color: white;
  padding: 12px 0;
  overflow-wrap: anywhere;
  overflow: clip;
}

/* Add a shadow on the active phase */
#scsApp .checked {
  box-shadow: inset 2px 2px 5px rgb(0, 0, 0);
  mix-blend-mode: soft-light;
}

/* Styling for the phase "buttons" */

/* Style the first one so that the corners are rounded correctly and so there is a margin on the left */
#scsApp .phase-button:nth-child(1) {
  border-radius: 5px 0px 0px 5px;
  margin-left: 3px;
}

/* Style the last one so that the corners are rounded correctly and so there is a margin on the right */
#scsApp .phase-button:nth-last-child(1) {
  border-radius: 0px 5px 5px 0px;
  margin-right: 3px;
}

/* These are the small arrows which let you switch phase and round */
#scsApp .scsArrows {
  text-align: center;
  color: white;
  align-items: center;
  cursor: pointer;
}

/* Give the navigation arrows some room */
#scsApp .scsArrows > * {
  min-width: 15%;
}

/* These are the various phase "buttons" */
#scsApp .scsButtons {
  flex-wrap: nowrap;
}

/* Controls the app itself */
#scsApp {
  height: 75px;
  flex-wrap: nowrap;
  background: none;
}

/* Don't show any header */
#scsApp .window-header {
  display: none;
}

/* Give the whole app a look that blends into the Foundry UI alongside the player list */
#scsApp .window-content {
  border-radius: 5px;
  padding: 0;
  border: 1px solid #000;
  color: #f0f0e0;
  background: url(/ui/denim075.png) repeat;
  overflow: hidden;
}

/* The current round indicator */
#scsApp #currentRound {
  color: grey;
  text-align: center;
  flex: 100; /* It must take as much room as possible */
}

/* Lighter text when dragged around */
#scsApp #currentRound:active {
  color: lightgrey;
}

/* The animation shown when pinning the app */
@keyframes jiggle {
  0% {
    transform: rotate(1deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }
}

/* Custom styling for IntroJS tour */

/* Style checkbox */
#scsTutorialAgainDiv {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: -5px;
  padding: 0.5em 1em;
}

/* Move line above checkbox */
.introjs-tooltipbuttons {
  border: transparent;
  padding: 1em;
  padding-top: 0;
}

/* Font Awesome Icons */
.introjs-tooltipReferenceLayer .fa,
.far,
.fas {
  font-family: "Font Awesome 5 Free";
}
